// Theme's SCSS
@if $show-pagination-buttons == "true" {
  :root {
    --swiper-pagination-bullet-inactive-color: var(#{$pagination-button-color}, #000);
    --swiper-pagination-color: var(#{$active-pagination-button-color}, --swiper-theme-color);
  }
  
  .splide__pagination__page {
    background-color: $pagination-button-color !important;
  }
  
  .splide__pagination__page.is-active {
    background-color: $active-pagination-button-color !important;
  }
}
