// Theme's SCSS
@if $show_pagination_buttons == "true" {
  :root {
    --swiper-pagination-bullet-inactive-color: $pagination_button_color
    --swiper-pagination-color: $active_pagination-button_color
  }
  
  .splide__pagination__page {
    background-color: $pagination_button_color;
  }
  
  .splide__pagination__page.is-active {
    background-color: $active_pagination_button_color;
  }
}
